<!DOCTYPE html>
<html>

<head>
      <base href='/' />
      <meta charset="utf-8" />
      <meta name="viewport" content="width=device-width, minimum-scale=1, maximum-scale=1, initial-scale=1, user-scalable=no">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <link rel="shortcut icon" type="image/png" href="//cdn.edulastic.com/JS/webresources/images/as/favicon.png" />
      <link rel="apple-touch-icon" type="image/png" href="//cdn.edulastic.com/JS/webresources/images/as/favicon.png">
      <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">

      <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.10.0/dist/katex.min.css" integrity="sha384-9eLZqc9ds8eNjO3TmqPeYcDj8n+Qfa4nuSiGYa6DjLNcv9BtN69ZIulL9+8CqC9Y"
            crossorigin="anonymous">

      <link rel="stylesheet" type="text/css" href="http://jsxgraph.uni-bayreuth.de/distrib/jsxgraph.css" />
      <script type="text/javascript" src="http://jsxgraph.uni-bayreuth.de/distrib/jsxgraphcore.js"></script>

      <script defer src="https://cdn.jsdelivr.net/npm/katex@0.10.0/dist/katex.min.js" integrity="sha384-K3vbOmF2BtaVai+Qk37uypf7VrgBubhQreNQe9aGsz9lB63dIFiQVlJbr92dw2Lx"
            crossorigin="anonymous"></script>
      <script defer src="https://cdn.jsdelivr.net/npm/katex@0.10.0/dist/katex.min.js" integrity="sha384-K3vbOmF2BtaVai+Qk37uypf7VrgBubhQreNQe9aGsz9lB63dIFiQVlJbr92dw2Lx"
            crossorigin="anonymous"></script>
      <script defer src="https://cdn.jsdelivr.net/npm/katex@0.10.0/dist/contrib/auto-render.min.js" integrity="sha384-kmZOZB5ObwgQnS/DuDg6TScgOiWWBiVt0plIRkZCmE6rDZGrEOQeHM5PcHi+nyqe"
            crossorigin="anonymous" onload="renderMathInElement(document.body);"></script>

      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/mathquill/0.10.1/mathquill.css">

      <title>{{title}}</title>
</head>

<body id="body">
      <section id="react-app"></section>
      <section id="modal-root"></section>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/mathquill/0.10.1/mathquill.js"></script>
      <script type="text/javascript" src="assets/index.js"></script>
      <script src="https://cdn.ravenjs.com/3.26.2/raven.min.js" crossorigin="anonymous">
      </script>
      <script>
            Raven.config('http://8a02eaf36de84240a77c0dd7aaa6bdfe@ec2-107-22-35-151.compute-1.amazonaws.com/2', {
                  whitelistUrls: [/edulastic-poc\.snapwiz\.net/]
            }).install()
      </script>
</body>

</html>