.gi-table {
  .ant-table-thead {
    tr {
      th {
        background: transparent;
        border-bottom: none;
        text-align: center;
        color: #999999;
        font-weight: 700;
        font-size: 12px;
        text-transform: uppercase;
        &:hover {
          background: transparent !important;
        }
        .ant-table-column-sorters {
          &:hover {
            &::before {
              background: transparent;
            }
          }
        }
      }
    }
  }
  .ant-table-expanded-row {
    background: transparent;
  }
  .ant-table-row {
    .ant-table-row-collapsed,
    .ant-table-row-expanded {
      border: none;
      &::after {
        font-size: 24px;
        color: #1ab395;
        line-height: initial;
      }
    }
    td {
      border-bottom: 1px solid #eeeeee;
      padding: 2px;
      text-align: center;
    }
    &:hover {
      td {
        background: transparent !important;
      }
    }
  }
  .not-expandible {
    .ant-table-row-expand-icon-cell {
      visibility: hidden;
    }
  }
}
