@import '@edulastic/colors/variables';

.gi-table {
  .ant-table-thead {
    tr {
      th {
        background: transparent;
        border-bottom: none;
        text-align: center;
        color: #999999;
        font-weight: 700;
        font-size: 12px;
        text-transform: uppercase;
        &:hover {
          background: transparent !important;
        }
        .ant-table-column-sorters {
          &:hover {
            &::before {
              background: transparent;
            }
          }
        }
      }
    }
  }
  .ant-table-expanded-row {
    background: transparent;
  }
  .ant-table-row {
    .ant-table-row-collapsed,
    .ant-table-row-expanded {
      border: none;
      &::after {
        font-size: 24px;
        color: #1ab395;
        line-height: initial;
      }
    }
    td {
      border-bottom: 1px solid #eeeeee;
      padding: 2px;
      text-align: center;
      color: $filterIconColor;
      .ant-dropdown-trigger {
        display: flex;
        align-items: center;
        justify-content: center;
        svg {
          width: 5px;
          height: 5px;
          margin-left: 10px;
          fill: #11a084;
        }
      }
    }
    &:hover {
      td {
        background: transparent !important;
      }
    }
  }
  .not-expandible {
    .ant-table-row-expand-icon-cell {
      visibility: hidden;
    }
  }
}

.gi-popover {
  .ant-popover-inner {
    background: #343434;
    border-radius: 10px;
    .content {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 14px;
      justify-content: center;
      p {
        font-weight: 400;
        font-size: 12px;
        line-height: 16px;
        color: #ffffff;
      }
      b {
        font-weight: 700;
        font-size: 12px;
        line-height: 16px;
        color: #ffffff;
      }
    }
  }
}

.action-menu {
  ul {
    li {
      font-weight: 600;
      font-size: 10px;
      line-height: 30px;
      text-align: center;
      color: #000000;
      padding: 0 25px;
    }
  }
}
