.notification {
  &.ant-notification-notice {
    position: absolute;
    right: 2px;
    bottom: 60px;
    background-color: #2f4151;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.55);
  }
  .ant-notification-notice-with-icon .ant-notification-notice-message,
  .ant-notification-notice-description {
    color: white;
    font-weight: 600;
    font-size: 15px;
  }
  .ant-notification-close-icon {
    color: white;
    margin-top: 6px;
  }
  .ant-notification-notice-icon-error {
    display: none;
  }
}
