@import '@edulastic/colors/variables';

.gi-table {
  .ant-table-thead {
    tr {
      th {
        background: $white;
        border-bottom: none;
        padding: 16px 2px;
        color: #999999;
        font-weight: 700;
        font-size: 12px;
        text-transform: uppercase;
        &.text-center {
          text-align: center;
        }
        &:hover {
          background: $white !important;
        }
        .ant-table-column-sorters {
          &:hover {
            &::before {
              background: $white;
            }
          }
        }
      }
    }
  }
  .ant-table-expanded-row {
    background: transparent;
    td {
      border-bottom: none !important;
      padding-bottom: 40px;
      padding-top: 30px;
    }
  }
  .ant-table-row {
    .ant-table-row-collapsed,
    .ant-table-row-expanded {
      border: none;
      &::after {
        font-size: 24px;
        color: $lightGreen10;
        line-height: initial;
      }
    }
    td {
      border-bottom: 1px solid #eeeeee;
      padding: 2px;
      height: 40px;
      text-align: left;
      font-weight: 600;
      font-size: 12px;
      color: $filterIconColor;
      &.text-center {
        text-align: center;
      }
      .ant-dropdown-trigger {
        display: flex;
        align-items: center;
        justify-content: center;
        svg {
          width: 5px;
          height: 5px;
          margin-left: 10px;
          fill: #11a084;
        }
      }
    }
    &:hover {
      td {
        background: transparent !important;
      }
    }
  }
  .not-expandible {
    .ant-table-row-expand-icon-cell {
      visibility: hidden;
    }
  }
}

.gi-popover {
  .ant-popover-inner {
    background: #343434;
    border-radius: 10px;
    .content {
      display: grid;
      grid-template-columns: 80px 120px;
      gap: 14px;
      justify-content: center;
      p {
        font-weight: 400;
        font-size: 12px;
        line-height: 16px;
        color: $white;
        text-align: right;
      }
      b {
        word-break: break-word;
        font-weight: 700;
        font-size: 12px;
        line-height: 16px;
        color: $white;
      }
    }
  }
}

.action-menu {
  ul {
    li {
      font-weight: 600;
      font-size: 10px;
      line-height: 30px;
      text-align: center;
      color: $black;
      padding: 0 25px;
      border-bottom: 1px solid #eeeeee;
      &:last-child {
        border-bottom: none;
      }
      a {
        color: $black;
      }
    }
  }
}

.delete-popup {
  .ant-modal-content {
    border-radius: 6px;
  }
  .ant-modal-header {
    display: flex;
    padding: 0;
    justify-content: center;
    border-bottom: none;
    border-radius: 6px;
    .ant-modal-title {
      font-weight: 700;
      font-size: 10px;
      color: $black;
      line-height: 30px;
      text-align: center;
      border-bottom: 1px solid #eeeeee;
      width: 90%;
      padding: 0 10px;
    }
  }
  .ant-modal-close {
    .ant-modal-close-x {
      line-height: 25px;
      width: 30px;
      height: 30px;
    }
    cursor: pointer;
    svg {
      width: 8px;
      height: 8px;
      min-width: 8px;
    }
  }
  .ant-modal-body {
    padding: 24px 24px 17px 24px;
    display: flex;
    justify-content: center;
    p {
      width: 70%;
      text-align: center;
      font-weight: 600;
      font-size: 10px;
      line-height: 15px;
      color: $black;
    }
  }
  .ant-modal-footer {
    border-top: none;
    text-align: center;
    .ant-btn {
      color: $lightGreen10;
      border: 1px solid $lightGreen10;
      border-radius: 4px;
    }
    .ant-btn-primary {
      background: $lightGreen10;
      border-radius: 4px;
      color: $white;
      border: none;
    }
  }
}
