.graph-shape-label {
  border-radius: 5px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Open Sans", sans-serif !important;
  font-size: 11px;
  font-weight: bold;
  line-height: 1;
  letter-spacing: 0.2px;
  color: #444444;
  opacity: 1 !important;
  background: white;
  transform: translate(10px, 0);
  width: unset;
}

.graph-shape-label .fr-wrapper {
  padding: 5px;
}
