.mark {
  height: 45px;
  width: 120px;
  word-break: break-word;
  max-width: 55px;
  padding: 2px;
  border-radius: 4px;
  background-color: #ffffff;
  border: 1px solid #e6e6e6 !important;
  cursor: pointer !important;
  font-family: unset !important;
  font-size: 14px !important;
  opacity: 1;
}

.mark.mounted {
  transform: translate(0, -15px);
}

.mark.mounted .delete-mark {
  opacity: 1;
}

.mark:hover {
  opacity: 1 !important;
}

.mark.dragging::after,
.mark.mounted::after {
  content: "";
  position: absolute;
  top: 100%;
  right: calc(50% - 10.5px);
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 7px 10px 0 10px;
}

.mark.dragging::after,
.mark.mounted::after {
  border-color: #434b5d transparent transparent transparent;
}

.mark.correct {
  border-color: transparent !important;
  background-color: #e1fbf2;
}

.mark.incorrect {
  border-color: transparent !important;
  background-color: #fce0e8;
}

.mark.show {
  border-color: transparent !important;
  background-color: #ffcb00;
}

.mark.correct::after {
  border-color: #e1fbf2 transparent transparent transparent;
}

.mark.incorrect::after {
  border-color: #fce0e8 transparent transparent transparent;
}

.mark.show::after {
  border-color: #ffcb00 transparent transparent transparent;
}

.title {
  width: 100%;
  padding: 0 15px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Open Sans", sans-serif !important;
  font-size: 11px;
  font-weight: bold;
  line-height: 1.36;
  letter-spacing: 0.2px;
  color: #444444;
  opacity: 1;
  z-index: 8 !important;
}

.mark .delete-mark {
  opacity: 0;
  position: absolute;
  height: 15px;
  width: 15px;
  top: -8px;
  right: -8px;
  transition: 0.2s ease fill;
}

.mark .delete-mark:hover {
  fill: red;
}

.mark img.fr-dii {
  max-height: 40px !important;
  width: auto !important;
}

.mark .mark-content {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  overflow: hidden;
  height: 100%;
  width: auto;
}

.marks-container-title {
  transform: translate(4px, 0);
  font-weight: 700;
  opacity: 1 !important;
}
