.mark {
  min-width: 40px;
  height: 40px !important;
  padding: 5px;
  border-radius: 4px;
  background-color: #ffffff;
  text-align: center;
  border: 1px solid #e6e6e6 !important;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: unset !important;
  font-size: unset !important;
  opacity: 1;
}

.mark.fr-box {
  width: unset;
}

.mark.mounted {
  transform: translate(0, -15px);
}

.mark.mounted .delete-mark {
  opacity: 1;
}

.mark:hover {
  opacity: 1 !important;
}

.mark.mounted::after {
  content: "";
  position: absolute;
  top: 100%;
  right: calc(50% - 10.5px);
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 7px 10px 0 10px;
  border-color: #e6e6e6 transparent transparent transparent;
}

.mark.correct {
  border-color: transparent !important;
  background-color: #e1fbf2;
}

.mark.incorrect {
  border-color: transparent !important;
  background-color: #fce0e8;
}

.mark.show {
  border-color: transparent !important;
  background-color: #ffcb00;
}

.mark.correct::after {
  border-color: #e1fbf2 transparent transparent transparent;
}

.mark.incorrect::after {
  border-color: #fce0e8 transparent transparent transparent;
}

.mark.show::after {
  border-color: #ffcb00 transparent transparent transparent;
}

.title {
  width: 100%;
  padding: 0 15px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Open Sans", sans-serif !important;
  font-size: 11px;
  font-weight: bold;
  line-height: 1.36;
  letter-spacing: 0.2px;
  color: #444444;
  opacity: 1;
  z-index: 8 !important;
}

.mark .delete-mark {
  opacity: 0;
  position: absolute;
  height: 15px;
  width: 15px;
  top: -8px;
  right: -8px;
  transition: 0.2s ease fill;
}

.mark .delete-mark:hover {
  fill: red;
}

.mark img.fr-dii {
  max-height: 36px !important;
  width: auto !important;
}
