.graph-shape-label {
  height: 40px;
  border-radius: 5px;
  background-color: #ffffff;
  text-align: center;
  box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.1);
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Open Sans", sans-serif !important;
  font-size: 11px;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.36;
  letter-spacing: 0.2px;
  color: #444444;
  opacity: 1 !important;
  transform: translate(-50%);
}

.graph-annotation {
  width: 16px;
  height: 16px;
}

.graph-shape-label .ql-editor,
.graph-annotation-label .ql-editor {
  padding: 5px 10px !important;
}

.ql-snow .ql-tooltip.ql-flip {
  top: 45px !important;
}

.graph-shape-label .ql-tooltip,
.graph-annotation-label .ql-tooltip,
.graph-shape-label .ql-tooltip.ql-flip,
.graph-annotation-label .ql-tooltip.ql-flip {
  position: absolute;
  top: -24px !important;
  left: 0 !important;
  /*width: 212px;*/
  width: 128px;
  border-radius: 5px;
  display: none;
  transform: none;
}

.graph-shape-label .ql-tooltip .ql-formats,
.graph-annotation-label .ql-tooltip .ql-formats,
.graph-shape-label .ql-tooltip .ql-formats:first-child,
.graph-annotation-label .ql-tooltip .ql-formats:first-child {
  margin: 0;
}

.graph-shape-label .ql-tooltip-arrow,
.graph-annotation-label .ql-tooltip-arrow {
  display: none;
}

.toolbar-overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1000;
  background-color: transparent;
}
